/* #region common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
}

ul.unstyled {
    list-style: none;
}

/* #endregion common */

/* #region utility */

:root {
    --darker: #000000;
    --dark: #222222;
    --paledark: #4A4A4A;
    --success: #4BC800;
    --alert: #FF2639;
    --lighter: #FFFFFF;    
    --font-family: 'Roboto', sans-serif;
}

.p-relative {
    position: relative;
}

.d-flex {
    display: flex;
}

/* colors */

.success {
    color: var(--success);
}

.alert {
    color: var(--alert);
}

/* font-size */

.fs-24 {
    font-size: 24px;
}

/* #endregion utility */

/* #region debug */

.debug .view-functions {
    height: 30px;
    line-height: 30px;
}

.debug .container {
    background-color: lightgray;
    height: 90%;
}

/* #endregion debug */

/* #region site-header */

#site-header {
    position: relative;
    height: 40px;
    background-color: var(--darker);
    color: var(--lighter);
}

.view-functions {
    column-gap: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.view-functions div{
    background-color: var(--paledark);
    padding: 0.25rem;
    border-radius: 5px;
}

/* #endregion site-header */

/* #region site-main */

#site-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
    background-color: var(--darker);
    color: var(--lighter);
    overflow: auto;
}

.container {
    flex-basis: 74%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 12px;
}

.container-pic {
    width: 13%;
    max-height: 125px;
}

.username {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.25rem;
    background-color: rgb(28 28 28 / 60%);
}

/* #endregion site-main */

/* #region site-footer */

#site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: var(--dark);
    color: var(--lighter);
}

.left-menu {
    padding-left: 5px;
}

#site-footer ul a {
    color: var(--lighter);
    font-weight: 100;
}

#site-footer ul.d-flex {
    align-items: center;
    column-gap: 15px;
}

#site-footer ul li.d-flex {
    align-items: center;
    column-gap: 10px;
}

#site-footer ul a.d-flex {
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

#site-footer .right-menu.d-flex{
    align-items: center;
    height: 100%;
    background-color: var(--paledark);
    padding: 0 1rem;
}

/* #endregion site-footer */



